macos/tensorflow-1.15.4-cp37-cp37m-macosx_10_15_x86_64.whl filter=lfs diff=lfs merge=lfs -text
*whl filter=lfs diff=lfs merge=lfs -text
macos/tensorflow-2.3.1-cp37-cp37m-macosx_10_15_x86_64.whl filter=lfs diff=lfs merge=lfs -text
